.chat{
    height: 400px;
    width: 400px;
    border-radius: 10%;
    background: #f5f4f4;
    display: flex;
    flex-direction: column;
    box-shadow: 11px 10px 38px -9px rgba(0,0,0,0.57);


}
.h3{
    width: 100%;
    background: #2a64bb;
    color: #fff;
    padding: 20px;
}
.messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
li{
    list-style: none;
}
.sent-message{
    padding: 10px;
    background-color: #46d45d;
    margin: 5px;
    align-self: flex-start;
}
.recieved-message{
    padding: 10px;
    background-color: #b8b8b8;
    margin: 5px;
    align-self: flex-end;
}